<!DOCTYPE html>

<html>

<head>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    {{> header}}
    <img src="/image/a.jpg" alt="Your image url">
    <p>this is a photo of MR {{name}}</p>
    {{>footer}}
</body>

</html>