<!DOCTYPE html>

<html>

<head>
     <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>header}}
    <p>use this for weather</p>

    <form>
         <input placeholder="input location">
         <button>search</button>

    </form>
     <p id="message-1"></p>
     <p id="message-2"></p>
    <script src="./js/index.js"></script>
     {{>footer}}
</body>

</html>